[Desktop Entry]
Version=1.0
Exec=xfce4-appfinder
Icon=org.xfce.appfinder
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name[ru]=Поиск приложений
Name=Application Finder
Comment[ru]=Поиск и запуск установленных в вашей системе приложений
Comment=Find and launch applications installed on your system
Keywords[ru]=приложение;приложения;закладки;
Keywords=program;applications;bookmarks;
X-XFCE-Source=file:///usr/local/share/applications/xfce4-appfinder.desktop
